* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;

    padding: 20px;
    
}

#buttonDiv {
    display: flex;
    justify-content: center;
   
    padding: 50px;
    gap: 50px;
}

#results {
   
    background-color: lightblue;
}

.result-scores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}


#result-explanation {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color:blueviolet;
    
}

#results-player, #results-computer {
   
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    background-color: lightyellow;
}